* {
  margin: 0;
  padding: 0;
}

.chat-page {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'navbar navbar' 'sidebar chat';
  gap: 18px;
}

.navbar,
.sidebar,
.chat {
  height: 100%;
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
}

.chat {
  grid-area: chat;
}
